/* GERAL */
.divider {
  width: 100%;
  height: 5px;
  background-color: #dddddd;
}

.progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

.btn-social {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  font-size: 30px;
}

.btn-favorites {
  color: #dddddd;
  font-size: 65px;
}

.btn-social i {
  position: relative;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.5rem;
}

.section-title {
  color: #4a148c;
  margin-bottom: 1em;
}

.text-primary-custom {
  color: #4a148c;
}

/* Seção NAVBAR */
.nav-link,
.navbar-brand {
  cursor: pointer;
  color: #f4f4f4;
  font-size: 18px;
}
.nav-link {
  margin-right: 1.25em !important;
  transition: 0.5s;
  border-radius: 25px;
}
.nav-link:hover {
  background: #e6b4f0;
  color: #4a148c;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background: #fff !important;
}

/* Seção MAIN */
.main {
  background-image: linear-gradient(90deg, #281242, #220827);
  height: 100vh;
}

.jumbotron {
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.25;
  background-size: cover;
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  font-family: "Roboto", serif;
}

.main-foto {
  position: absolute;
  top: 10vh;
}

.main-foto img {
  transition: all ease 1s;
  max-width: 250px;
  max-height: 250px;
  box-shadow: 0px 0px 20px 10px #220827;
  vertical-align: middle;
}

.main-foto img:hover {
  max-width: 275px;
  max-height: 275px;
  box-shadow: 0px 0px 70px 50px #220827;
}

.main-greetings {
  position: absolute;
  top: 60vh;
  color: #f4f4f4;
}

.main-greetings span {
  opacity: 1;
  display: block;
  margin: 10px 0;
}

.main-text {
  font-size: 16px;
}

.main-title {
  font-size: 30px;
}

/* Seção ABOUT */
.about {
  color: #dddddd;
  background-color: #5c21a0;
  position: relative;
}

.about-details {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

/* Seção SKILLS */
.skills-title {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 35px;
}
.skills-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.skills-level {
  font-family: "Merriweather", serif;
  font-weight: bolder;
  font-size: 10px;
  letter-spacing: 5px;
  height: 100%;
  text-transform: uppercase;
  text-align: right;
}

/* Seção OTHERS */
.others {
  color: #dddddd;
  background-color: #5c21a0;
  position: relative;
}

.others-itens {
  font-size: 20px;
  padding: 15px;
}

.others-itens i {
  font-size: 40px;
}

/* Seção FOOTER */
footer {
  position: relative;
  margin: 40px;
  text-align: center;
}
